.links-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.papers, .papers h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.papers div {
    margin: 10px;
}
.sessions {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sessions a {
    color: #fcae39;
    text-decoration: none;
    padding: 3px 8px;
    border: 3px solid #fcae3950;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.1em;
}

.links {
    flex: 1;
    background-color: #262626;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    text-align: left;
    margin-bottom: 20px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin: 5px 0;
}

.links a {
    color: #fcae39;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #fcae39;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.1em;
    display: block;
    text-align: center;
}

.links a:hover {
    background-color: #fcae39;
    color: #151514;
    border-color: #dcd1d1;
}

@media (max-width: 768px) {
    .links {
        margin: 0;
    }

    .links-container {
        flex-direction: column;
        gap: 10px;
    }

    .papers li {
        margin: 0;
    }

    .sessions {
        flex-direction: column;
        /* gap: 10px; */
    }

    .sessions a {
        padding: 5px;
        font-size: 1em;
    }
}
