body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151514;
    color: #dcd1d1;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #151514;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #fcae39;
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

.search-block {
    text-align: center;
    margin-top: 20px;
}

.search-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fcae39;
    color: #151514;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.search-link:hover {
    background-color: #ffb84d;
    color: #151514;
}


@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}
