body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151514;
    color: #dcd1d1;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

h1, h2 {
    color: #fcae39;
    text-shadow: 2px 2px #151514;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #dcd1d1;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

a {
    color: #fcae39;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

a:hover {
    border-bottom: 2px solid #fcae39;
}
