body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151514;
    color: #dcd1d1;
}

#title {
    font-size: 75px;
}

.container {
    max-width: 1200px;  /* Adjusted to a more common maximum width */
    margin: 40px auto;
    padding: 20px;
    background-color: #151514;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #fcae39;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    background: #151514;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.search-container label {
    flex: 1 1 100px;
    font-weight: bold;
    margin-right: 5px;
    align-self: center;
}

.search-container select {
    flex: 1 1 150px;
    padding: 8px;
    border: 1px solid #fcae39;
    border-radius: 4px;
    font-size: 14px;
    background: #dcd1d1;
    color: #151514;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

.search-container select:focus {
    border-color: #fcae39;
    outline: none;
    background-color: #fcae39;
    color: #151514;
}

.results {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
    padding: 20px;
    background: #151514;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.results a {
    color: inherit; /* Use the same color as the parent element */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.results a:hover {
    text-decoration: underline; /* Optional: add underline on hover */
}

.result-item {
    flex: 1 1 calc(20% - 20px);  /* Adjusted for more consistent spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #fcae3958;
    border-radius: 8px;
    background-color: #262626;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.result-item:hover {
    background-color: #333333;
    border-color: #fcae39;
}

.result-item p {
    margin: 5px 0;
    color: #dcd1d1;
}

/* Media query for larger screens */
@media (min-width: 769px) {
    .search-container label, .search-container select {
        flex: 0 0 auto;
    }

    .search-container label {
        margin-right: 10px;
    }
}

/* Media query for tablets */
@media (max-width: 768px) {
    .result-item {
        flex: 1 1 calc(33.333% - 20px);
    }
}

/* Media query for mobile */
@media (max-width: 480px) {
    .search-container label {
        flex: 1 1 100%;
    }

    .search-container select {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }

    .result-item {
        flex: 1 1 100%;
    }
}
