body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151514;
    color: #dcd1d1;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    text-align: center;
}

h1 {
    color: #fcae39;
    text-shadow: 3px 3px #151514;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.link-section {
    background-color: #262626;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.link-section h2 {
    color: #fcae39;
    margin-top: 0px;
    text-shadow: 2px 2px #151514;
    font-size: 1.8em;
}

.link-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.link-section li {
    margin: 0;
}

.link-section a {
    color: #fcae39;
    text-decoration: none;
    padding: 12px 20px;
    border: 2px solid #fcae39;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.1em;
}

.link-section a:hover {
    background-color: #fcae39;
    color: #151514;
    border-color: #dcd1d1;
}
